<?xml version="1.0"?>
<!--
==================================================Examples=====================================================

<ChapterPropertyName>20501</ChapterPropertyName>                                      => Suppl. field: Text
<ChapterPropertyName>EPLAN.PartRef.UserSupplementaryField15</ChapterPropertyName>     => Supplementary Field 15
<ChapterPropertyName>JustUserDefinedPropertyId</ChapterPropertyName>                  => User-Defined Properties

===============================================================================================================
-->
<ArrangeInfo xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
  <ChapterPropertyName>ЕСКД.Раздел</ChapterPropertyName>
  <SubChapterPropertyName>ЕСКД.Подраздел</SubChapterPropertyName>
  <PrimarySortName>22004</PrimarySortName>
  <SecondarySortName>22004</SecondarySortName>
  <StartValue>1</StartValue>
  <Increment>1</Increment>
  <FieldWidth>10</FieldWidth>
  <ChapterSortOrderPairs>
        <OrderPair> <Value>Документация</Value>                   <SortOrder>0</SortOrder>   </OrderPair>
    		<OrderPair> <Value>Сборочные единицы</Value>              <SortOrder>1</SortOrder>   </OrderPair>
    		<OrderPair> <Value>Детали</Value>                         <SortOrder>2</SortOrder>   </OrderPair>
    		<OrderPair> <Value>Прочие изделия</Value>                 <SortOrder>3</SortOrder>   </OrderPair>
    		<OrderPair> <Value>Стандартные изделия</Value>            <SortOrder>4</SortOrder>   </OrderPair>
    		<OrderPair> <Value>Материалы</Value>                      <SortOrder>5</SortOrder>   </OrderPair>
    		<OrderPair> <Value>Комплекты</Value>                      <SortOrder>6</SortOrder>   </OrderPair>
  </ChapterSortOrderPairs>
  <SubChapterSortOrderPairs>
		    <OrderPair> <Value>Изделия пневматики</Value>             <SortOrder>1</SortOrder>   </OrderPair>
        <OrderPair> <Value>Клеммные блоки</Value>                 <SortOrder>2</SortOrder>   </OrderPair>
        <OrderPair> <Value>Изделия клемм</Value>                  <SortOrder>3</SortOrder>   </OrderPair>
        <OrderPair> <Value>Наконечники</Value>                    <SortOrder>4</SortOrder>   </OrderPair>
        <OrderPair> <Value>Разъемы</Value>                        <SortOrder>5</SortOrder>   </OrderPair>
        <OrderPair> <Value>Средства автоматизации</Value>         <SortOrder>6</SortOrder>   </OrderPair>
  </SubChapterSortOrderPairs>
  <ChaptersToIgnore>
    <string>Документация</string>
    <string>Комплекты</string>
  </ChaptersToIgnore>
</ArrangeInfo> 