<?xml version="1.0"?>
<BackUpConfig xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
  <BackUpBaseFolder>C:\Users\%username%\Downloads\backups\</BackUpBaseFolder>
  <TimeDifferenceForBackUp>1.00:00:00</TimeDifferenceForBackUp>
  <MaxSavesPerProject>20</MaxSavesPerProject>
</BackUpConfig> 